$white: #ffffff;
$black: #000000;
$primary-grey: #e1e1e1;
$grey-400: #f2f2f2;
$grey-600: #c8c8c8;
$grey-800: #757575;
$primary-blue: #4a90e2;
$dark-blue: #00408b;
$primary-red: #d0021b;
$primary-yellow: #f5a623;
$light-yellow: #fff2dc;
